<div class="flex container new-post-container" style="display: none;">
  <h3>Create new Post</h3>

  <form class="form new-post-form">
    <div class="form-group">
      <input class="form-input" type="text" id="post-title" placeholder="Title" />
    </div>
    <div class="form-group">
      <textarea class="form-input" id="post-content" placeholder="Content"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="submit-button">Create</button>
    </div>
  </form>
</div>

<button class="submit-button new-post">New Post +</button>

<div class="container">
  <h3>Previous Posts</h3>
</div>

{{#each posts as |post| }}
  <div class="container post">

    <h2 class="post-title">
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>

    <textarea class="form-input update-content">{{post.content}}</textarea>

    <div class="previous-buttons">
        <button class="update-post" data-id="{{post.id}}">Update</button>
        <button class="delete-post" data-id="{{post.id}}">Delete</button>
    </div>

    <p class="post-creator">Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
{{/each}}




<script src="./js/dashboard.js"></script>
