  <button class="submit-button new-comment">Comment</button>

{{!-- hidden comment menu --}}
<div class="flex container new-comment-container" style="display: none;">
  <h3>New Comment not currently working</h3>

  <form class="form new-post-form">
    <div class="form-group">
      <textarea class="form-input" id="post-content" placeholder="Content"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="submit-button">Create</button>
    </div>
  </form>
</div>

{{!-- main post --}}
<div class="container post">
  <h2 class="post-title">{{title}}</h2>
  <p class="post-content">{{content}}</p>
  <p class="post-creator">Created by {{user.name}} on {{format_date date_created}}</p>
</div>

{{!-- Display comments here --}}
{{#each comments as |comment| }}
  <div class="container post">
    <p class="post-content">{{comment.content}}</p>
    <p class="post-creator">Created by {{comment.User.name}} on {{format_date date_created}}</p>
  </div>
{{/each}}

<script src="../js/comment.js"></script>